$icon-font-path: '../fonts/';

$primary-color: #1C2834;

// bower:scss
// endbower

body {
  background: #dddddd;
}

.container {
  max-width: 768px;
}

.hero {
  background: $primary-color;
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  transition: 250ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & + .container {
    display: none;
  }

  &.hero-shrunk {
    max-height: 300px;
    padding: 100px;

    & + .container {
      display: block;
    }
  }

  h1 {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  p {
    color: #cccccc;
    margin-bottom: 1em;;
  }
  form {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }
}

#reviews {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  margin-top: 5px;

  .review {
    background: white;
    width: 33%;
    margin: 5px;
    padding: 1em;
    .review-username {
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 0.5em;
    }
  }
}